@media (max-width: 750px) {
  body {
    font-size: 12px;
  }

  .pokedex {
    flex-direction: column;
    padding: 30px 0;
  }

.cards-pokemon { 
  max-width: 300px;
}

.cards-pokemon .cards-image {
  width: 200px;
  height: 200px;
}

.cards-pokemon .card-info {
  padding: 60px 30px 30px;
  margin-top:-50px;
}

.cards-pokemon .card-info h3 {
  font-size: 16px;
}

.cards-pokemon .card-info ul li {
  font-size: 12px;
}

.listing {
  max-width: 300px;
}

.listing ul {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.listing .Pokemon {
  width: 140px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 0;
}

.listing .Pokemon span {
  padding-right: 5px;
  font-size: 12px;
}
}