* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
body {
  font-family: 'Poppins', sans-serif;
}
main {
 min-height: 100vh;
 background-color: aqua;
 display: flex;
 align-items: center;
 justify-content: center;
}

.pokedex {
  background-color: coral;
  display: flex;
  gap: 30px;
  padding: 30px 0;
}

.cards-pokemon {
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}